/*IMPORTANDO A FONTE ROBOTO DO GOGOLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*ATRIBUINDO EM TODOS OS ELEMENTOS*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}

/*CRIANDO VARIÁVEIS*/
:root{
    --cor_principal: #eec71b;
    --cor_botao01: #049d09;
    --cor_lnk_menu: #020100;
    --cor_vermelha: #b60000;
    --cor_suave: #c0ecee;
    --cor_branca: #ffffff;
}

/*CONFIGURANDO A TAG main*/
#geral{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*CONFIGUANDOO O CABEÇALHO DA PÁGINA*/
#cabecalho{
    width: 100%;
    height: 200px;
    background-color: var(--cor_suave);
    padding: 5px 100px;
    margin: 20px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

/*ALTERANDO O TAMANHO DA IMAGEM DO LOGO*/
#logo img{
    width: 180px;
    height: 160px;
}

/*CONFIGURANDO A TAG nav POR MEIO DO SEU ID*/
#menu{
    width: 750px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*CONFIGURANDO OS LI DO UL DO CABEÇALHO NA HORIZONTAL*/
#cabecalho ul, #menu-secoes {
    display: flex;
    list-style: none;
    gap: 30px
} 

/*CONFIGURANDO OS TAMAHOS DOS ÍCONES*/
#div-icones img{
    width: 70px;
    height: 60px;
}

/*FORMATANDO OS MENUS*/
#menu a:link{
    font-size: 2.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_lnk_menu);
}

#menu a:visited{
    font-size: 2.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_lnk_menu);
}

#menu a:hover{
    font-size: 2.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_principal);
}

#menu a:active{
    font-size: 2.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor_vermelha);
}

/*FORMATANDO section PELO ID PESQUISA */
#pesquisa{
    background-color: var(--cor_principal);
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pesquisa input{
    width: 600px;
    height: 80px;
    padding: 20px;
    border-radius: 8px;
    font-size: 2em;
    background-color: var(--cor_branca);
}

/*FORMATAÇÃO DOS CARDS*/
#cards{
    width: 1000px;
    min-height: 600px;
    margin: 20px 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    cursor: pointer;
}

.card{
    width: 250px;
    min-height: 250px;
    border: solid 2px var(--cor_principal);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover{
    transform: translateY(-5px);
}

.card h2{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 10px 0px;
}

.card h3{
    margin: 20px 0px;    
}

.card button{
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    background-color: var(--cor_suave);
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 150px;
}

/*FORMATAÇÃO DO RODAPÉ*/
#rodape{
    width: 100%;
    height: 300px;
    background-color: var(--cor_suave);
    display: flex;
    align-items: center;
    justify-content:space-around;
}

#dadosloja{
    font-size: 0.8em;
}

#icones-sociais ul {
    list-style: none;
}

#icones-sociais img{
    width: 25px;
    height: 25px;
    margin-left: 50px;
}

#div-cartoes img{
    width: 25px;
    height: 25px;
}

/*CONFIGURANDO O MENU SEÇÕES*/
#nav-secoes{
    width: 100%;
    min-height: 80px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.lnk-secao:link, .lnk-secao:visited{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 3px;
    color: var(--cor_vermelha);
}

.lnk-secao:hover {
    font-size: 1.5em;
    color: var(--cor_vermelha);
}

.lnk-secao:active {
    color: var(--cor_principal);
}